
.header{
  padding: 20px 0px;
  background-color: #fcfdfe;
  position: sticky;
  left: 0%;
  top: 0%;
  max-width: 100%;
  box-shadow:  0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.topPart{
  display: flex;
  align-items: center;
}
.leftPart1{
  width: 20%;
}
.logo{
  width: 160px;
  max-height: 40px;
}
.logo img{
  height: 40px;
}

/****** menu css ******/
.leftPart2{
  width: 80%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}


.leftPart2 ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.leftPart2 ul li a{
    padding: 0px 8px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
}


.leftPart2 ul li.list_menu  {
  margin-right: 40px !important;

}

.leftPart2 ul li button{
  text-align: center;
  color: #fff !important;
  background-color: #064469;
  border-radius: 5px;
  min-width: 140px;
  margin-bottom: 0;
  padding: 12px 20px !important;
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px !important;
  margin-bottom: 15px;
}

.leftPart2 span svg{
  display: none;
}
.leftPart2 input.humba_check{
  display: none;
}


/****** responsive css ******/
@media (min-width : 320px) and (max-width: 992px){ 
  .topPart{
    display: flex;
    align-items: center;
  }
  .header{
    padding: 15px 20px !important;
  }
  .leftPart1{
    width: 20%;
  }
  .leftPart2 {
     width: 80%;
     position: relative;
     display: flex;
     align-items: center;
  }

  .leftPart2 span svg{
    font-size: 29px;
    position: absolute;
    right: 0px;
    top: -12px;
    color: #190101;
    pointer-events: none;
    display: block;
    border: 1px solid rgb(145, 145, 145);
    padding: 2px ;
    border-radius: 3px;
  }
  .leftPart2 input.humba_check{
    position: absolute;
    right: 0px;
    top: -13px;
    height: 23px;
    width: 27px;
    opacity: 0;
    display: block;
    cursor: pointer;
    
  }

  .leftPart2 input.humba_check:checked ~ ul {
     visibility: visible;
     opacity: 1;
  }

  .leftPart2 ul {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    right: -14px;
    top: 30px;
    visibility: hidden;
    opacity: 0;
    background-color: rgb(207, 207, 207);
    padding: 12px 0px;
    width: 100%;
    border-radius: 4px;
  }
  .leftPart2 ul li a{
   text-align: end !important;
   font-size: 20px;
   font-weight: 500;
  }
  .leftPart2 ul li:last-child{
    margin-bottom: 15px;
  }
  .leftPart2 ul li.list_menu  {
    margin-right: 0px !important;
  }
  .leftPart2 ul li.button_get{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 8px;
  }
}




@media (min-width : 992px) and (max-width: 1920px){
  .header{
    padding: 20px 30px;
  }

}

