
.header{
  padding: 20px 0px;
  background-color: #fcfdfe;
  position: sticky;
  left: 0%;
  top: 0%;
  max-width: 100%;
  box-shadow:  0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.topPart{
  display: flex;
  align-items: center;
}
.leftPart1{
  width: 20%;
}
.logo{
  width: 160px;
  max-height: 40px;
}
.logo img{
  height: 40px;
}

/****** menu css ******/
.leftPart2{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.menu ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu ul li a{
    padding: 0px 8px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
}

.menu ul li button{
  text-align: center;
  color: #fff !important;
  background-color: #064469;
  border-radius: 5px;
  min-width: 140px;
  margin-bottom: 0;
  padding: 12px 20px !important;
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px !important;
  margin-bottom: 15px;
}
/****** right menu  *******/
.leftPart3 {
     width: 30%;
     display: flex;
     justify-content: flex-end;
     padding-right: 50px;
}
.leftPart3 .auth ul{
   display: flex;
   align-items: center;
   gap: 15px;
}
.leftPart3 .auth ul li button{
  text-align: center;
  color: #fff !important;
  background-color: #064469;
  border-radius: 5px;
  min-width: 140px;
  margin-bottom: 0;
  padding: 12px 20px !important;
  font-size: 15px;
  font-weight: 500;
}


/* responsive css */
@media (min-width : 320px) and (max-width: 992px){ 
  .topPart{
    display: flex;
    align-items: center;
  }
  .header{
    padding: 15px 20px !important;
  }
  .leftPart1{
    width: 20%;
  }
  .leftPart2{
    width: 80%;
  
  }

  .leftPart2 {
     position: relative;
     display: flex;
     align-items: center;
  }


  .leftPart2  .hum_menu{
     position: absolute;
     right: 15px !important;
     top: 0% !important;

  }

 .leftPart2  .hum_menu span svg{
    font-size: 25px !important;
    font-weight: 500;
    position: relative;
    top: -12px;
    
  }
  .menu{
    height: 340px;
    width: 100%;
    background-color: rgb(220, 220, 220);
    position: absolute;
    top: 30px;
    border-radius: 5px;
  }
  
  .menu ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .menu ul li {
    display: block;
    width: 100% !important;

  }
  .menu ul li:first-child {
    padding-top: 20px;

  }

  .menu ul li a{
    display: block;
    padding: 0px ;
    padding-left: 20px;
  }


  .leftPart3{
     display: none;
     width: 0px;
  }

  .leftPart3  ul li button{
    text-align: center;
    color: #fff !important;
    background-color: #064469;
    margin-bottom: 20px !important;
    border-radius: 5px;
    min-width: 140px;
    margin-bottom: 0;
    padding: 12px 20px !important;
    font-size: 15px;
    font-weight: 500;
  }

}




@media (min-width : 992px) and (max-width: 1920px){
  .leftPart2  .hum_menu span svg{
    opacity: 0;
    visibility: hidden;
  }

}

