

.footer{
  background-color: var(--primary-color);
  padding: 50px 0px;
}
.footer .bottomFooterPart{
   display: flex;
}
.bottomFooterPart .footerPart1{
   width: 25%;
   padding-right: 15px;
}
.footerPart1 .logoBox .logo{
   width: 150px;
   height: 40px;
}
.footerPart1 .logoBox .logo a img{
   height: 40px;
}
.footerPart1 .logoBox .description p{
  color: var(--secondary-color);
}
.footerPart1 .logoBox  p {
   color: var(--secondary-color);
   display: flex;
   align-items: center;
   gap: 10px;
}
.footerPart1 .logoBox  p a span svg{
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 3px;
}

/***** footer 2 css ********/
.bottomFooterPart .footerPart2{
   width: 20%;
   padding-right: 20px;
}
.footerPart2 .solution h4{
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: 500;
    margin-bottom: 18px;
    padding-left: 15px;
}
.solutionPart ul li a{
    color: var(--secondary-color);
    font-size: 14px;
    padding: 7px 15px;
    display: block;
}

/***** footer 3 css ********/
.bottomFooterPart .footerPart3{
   width: 20%;
}
.footerPart3 h4{
  font-size: 20px;
  color: var(--secondary-color);
  font-weight: 500;
  margin-bottom: 18px;
}
.industries ul li a{
  color: var(--secondary-color);
  font-size: 14px;
  padding: 6px 0px;
  display: block;
}


/***** footer 4 css ********/
.bottomFooterPart .footerPart4{
   width: 20%;
}
.footerPart4 h4{
  font-size: 20px;
  color: var(--secondary-color);
  font-weight: 500;
  margin-bottom: 18px;
}
.company ul li a{
  color: var(--secondary-color);
  font-size: 14px;
  padding: 6px 0px;
  display: block;
}
.bottomFooterPart .footerPart5{
   width: 15%;
}

/***** footer 5 css ********/
.cerified{
  text-align: end;
  margin-top: 50px;
}
.cerified img{
  width: 180px;
  max-height: 50px;
} 


/******* responsive css ********/
@media (min-width : 320px) and (max-width: 420px){
.footer{
    padding: 40px 30px !important;
}
.footer .bottomFooterPart{
    display: flex;
    flex-direction: column;
}
.footerPart1{
     width: 100% !important;
    display: block;
}
.footerPart2{
    width: 100% !important;
    display: block;
    padding-top: 20px;
}
.footerPart3{
    width: 100% !important;
    display: block;
    padding-top: 20px;
}
.footerPart4{
    width: 100% !important;
    display: block;
    padding-top: 20px;
}
.footerPart5{
    width: 100% !important;
    display: block;
    padding-top: 20px;
}
.footerPart2 .solution h4{
    padding-left: 0px !important;
}
.solutionPart ul li a{
  padding-left: 0px !important;
}
.footer .footerPart2 h4, 
.footer .footerPart3 h4, 
.footer .footerPart4 h4{
  margin-bottom: 0px !important;
  font-weight: 600;
}
.cerified{
  text-align: start !important;
}

}   

@media (min-width : 420px) and (max-width: 768px){
.footer {
    padding: 40px 30px !important;
}
.footer .bottomFooterPart{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.footerPart1{
    width: 45% !important;
}
.footerPart2{
  width: 43% !important;
}
.footerPart3{
  width: 45% !important;
}
.footerPart4{
  width: 45% !important;
}
.footerPart5{
  width: 100% !important;
}
.cerified{
  text-align: start !important;
}
.footer .footerPart2 h4, 
.footer .footerPart3 h4, 
.footer .footerPart4 h4{
  margin-bottom: 10px !important;
  font-weight: 600;
}

}

@media (min-width : 768px) and (max-width: 1020px){
.footer {
    padding: 40px 30px !important;
}
.footer .bottomFooterPart{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.footerPart1{
  width: 45% !important;
}
.footerPart2{
  width: 43% !important;
}
.footerPart3{
  width: 31% !important;
}
.footerPart4{
  width: 31% !important;
}
.footerPart5{
  width: 31% !important;
}
.cerified{
  text-align: start !important;
}

}


@media (min-width : 1020px) and (max-width: 1320px){
  .footer{
     padding: 40px 30px !important;
  }

}




