
.blog_top{
  background-image: url(../../public/bgbg.svg), url(../../public/aaa.svg);
  background-position: bottom center;
  background-repeat: no-repeat, no-repeat;
  background-size: 120px, cover;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
}
.top_bar h2{
   font-size: 46px;
   font-weight: 700;
   color: var(--primary-color);
}

.subscribe {
   display: flex;
   gap: 20px;
   align-items: center;
   justify-content: center;
}
.subscribe input{
  padding: 15px 40px;
  border: 1px solid rgb(180, 180, 180);
  width: 50%;
  border-radius: 4px;
}
.subscribe input:focus{
  border: 1px solid rgb(57, 14, 211) !important;
  outline: 1px;
} 
.subscribe button{
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 15px 40px;
  color: #fff;
}
.top_bar p{
  text-align: center;
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 600;
}

/***** blog details part csss *******/
.our_blog{
  padding: 50px 0px;
}
.our_blog .blog_title h2{
   font-size: 25px;
   color: var(--primary-color);
   text-align: center;
   padding: 30px 0px;
}
.our_blog .blog_details {
   display: flex;
   gap: 15px;
   flex-wrap: wrap;
}
.our_blog .blog_details .single_blog{
    width: 32%;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 5px;
}
.our_blog .blog_details  .single_blog a img{
   width: 100%;
   height: 300px;
   border-radius: 5px;
   overflow: hidden; 
}
.our_blog .blog_details .single_blog .blog_data{
  padding: 15px;
}
.our_blog .blog_details  .single_blog .blog_data h4{
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 10px;

}
.our_blog .blog_details  .single_blog .blog_data h1.heading a.title_data{
   font-size: 23px;
   font-weight: 600;
   color : var(--primary-color);
   background-color: transparent;
   padding: 0px !important;
}
.our_blog .blog_details .single_blog .blog_data p{
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 400;
  margin-bottom: 20px;

}
.our_blog .blog_details .single_blog .blog_data a{
  padding: 8px 30px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

/****** Responsive css ********/
@media (min-width : 320px) and (max-width: 576px){
  .blog_top{
    height: 50vh;
  }

  .our_blog .blog_details .single_blog{
    width: 100%;
    margin: 10px 20px !important;
  }
  .top_bar h2{
    font-size: 24px ;
    margin-bottom: 20px;
  }

}

@media (min-width : 576px) and (max-width: 768px){
  .blog_top{
    height: 50vh !important;
  }

  .top_bar h2{
    font-size: 30px ;
    margin-bottom: 20px;
  }

}

@media (min-width : 576px) and (max-width: 992px){
  .blog_top{
    height: 60vh !important;
  }
  .our_blog .blog_details .single_blog{
    width: 46%;
    margin: 10px !important;
  }
}

@media (min-width : 768px) and (max-width: 1020px){
   
}



