
:root{
  --primary-color : #064469 !important; 
  --secondary-color : #d4d6e4 !important;
  --heading-color : #223762 !important;
}
body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow-x: hidden; /* Hide horizontal scrollbar */
}
.container{
  max-width: 1200px;
  margin: auto;
}
ul{
  padding: 0px;
  margin: 0px;
}
li{
  list-style: none;
  margin-bottom: 0px;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
p{
  font-size: 14px;
  font-weight: 500;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
}


