
/* we section  */
.we_bottom_part{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
}
.we_bottom_part .we_box_content{
 width: 30%;
 text-align: center;
 padding: 0px 20px;
}

    

/****** webox section css ******/
.what_we{
  padding: 50px 0px;
}
.what_we .top_part{
   text-align: center;
}
.what_we .top_part h2{
   font-size: 32px;
   font-weight: 700;
   color: #333E4A;
}
.what_we .top_part p{
   font-size: 16px;
   font-weight: 400;
   color: #333E4A;
   margin-bottom: 10px;
}
.we_bottom_part{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.we_bottom_part .we_box_content{
   width: 30%;
   text-align: center;
   padding: 0px 10px;
}

/******** responsive css *******/
@media (min-width : 320px) and (max-width: 450px){
.we_bottom_part .we_box_content{
      width: 100% !important;
       display: block;
       padding: 0px 10px;
   }
}

@media (min-width : 320px) and (max-width: 576px){
 .what_we .top_part h2{
    font-size: 25px;
    text-align: center;
 }
.we_bottom_part .we_box_content{
   width: 42%;
}
.what_we .top_part p{
   padding: 10px 20px;
}

}


@media (min-width : 576px) and (max-width: 768px){
.what_we .top_part h2{
   font-size: 27px;
   text-align: center;
}
.we_bottom_part .we_box_content{
   width: 45%;
}
.what_we .top_part p{
   padding: 10px 20px;
}

}

@media (min-width : 768px) and (max-width: 1020px){
.we_bottom_part .we_box_content{
   width: 27%;
   padding: 10px;
}

}

@media (min-width : 1020px) and (max-width: 1320px){
.what_we{
   padding: 40px 30px;
}


}
 


