.forget{
  padding: 20px 0px;
}
.forget .forget_form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.forget .forget_form .logo{
    width: 180px;
}
.forget .forget_form .form_data{
   border: 1px solid rgb(195, 195, 195);
   padding: 50px 80px;
   border-radius: 5px;
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
   margin-bottom: 20px;
   width: 30%;
}
.forget_form .form_data form .my_2 label{
   font-size: 14px;
   font-weight: 400;
   color:#647181;
   margin-bottom: 4px;
}
.forget_form .form_data form .my_2{
  padding: 5px 0px;
}
.forget_form .form_data form .my_2 input{
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #bababa;
}
.forget_form .form_data form .my_2 input:focus{
  border: 1px solid rgb(57, 14, 211) !important;
  outline: 1px;
}
.forget_form .form_data form button{
   width: 105%;
   background-color: var(--primary-color);
   padding: 15px 20px;
   border: none;
   border-radius: 4px;
   color: #fff;
   margin-top: 20px;
}
 .form_data .my_2 a{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  text-decoration: underline;
}


