
.single_post{
  padding: 50px 0px;
}
.single_post img{
  width: 100%;
  border-radius: 5px;
}

.single_post h2{
  font-size: 30px;
  font-weight: 600;
  color: var(--primary-color);
}

.single_post p{
 font-size: 16px;
 font-weight: 400;
 color: var(--primary-color);
}

/******* Responsive css  ********/
@media (min-width : 320px) and (max-width: 576px){
  .single_post{
    padding: 20px 10px;
  }

  .single_post h2{
    font-size: 25px;
  }
}
